<div class="">
  <h1 class="display-4">Painel de Administrador <i class="fas fa-cogs"></i></h1>
  <p class="lead"> Com permissão de Administrador você pode gerenciar postagens e <br>
    publicações e criar novos usuarios com privilegios de administrador.</p>
  <hr class="my-4">
  <h3>Gerenciar Aplicação : </h3>
  <br>
  <a class="btn btn-outline-primary btn-lg btn-block my-3" href="/admin/categorias/" role="button">Gerenciar
    Cursos</a> <br>
  <a class="btn btn-outline-primary btn-lg btn-block my-3" href="/admin/postagens" role="button">Gerenciar Posts</a>
  <br>
  <a class="btn btn-outline-primary btn-lg btn-block my-3" href="/usuarios/registroADM" role="button">Criar um novo
    usuario
    Administrador</a>
  <br>
</div>