{{#each erros}}
<div class="alert alert-danger">
  {{error_msg}}
</div>
{{else}}

{{/each}}

<strong>
  <h6 class="text-aling-center">Precisamos que você cheque a sua caixa de e-mail, enviamos seu token para la ! <i
      class="far fa-smile"></i></h6>
</strong>
<div class="card">
  <div class="card-body">
    <h3>Recuperação de senha: </h3>
    <form action="" method="post">
      <label for="email">Email: </label>
      <input type="email" name="email" class="form-control" placeholder="Email" required>
      <label for="token">Token: </label>
      <input type="text" name="token" class="form-control" placeholder="Token" required>
      <label for="senha">Nova senha: </label>
      <input type="password" name="senha" class="form-control" placeholder="Nova senha" required>
      <label for="senha">Confirme a nova senha: </label>
      <input type="password" name="senha2" class="form-control" placeholder="Confirme a nova senha" required>
      <button type="submit" class="btn btn-lg bbtn btn-outline-primary btn-block  mt-4">Alterar
        senha</button><br>
    </form>
  </div>
</div>