<body>
  <div class="container">
    <div class="row">
      {{!-- TITULO --}}
      <div class="col-12 text-center my-5">
        <h1 class="display-3"> Sobre a Facultech <i class="fas fa-code"></i></h1>
        <p>Instituição de Ensino focada em abordar diversos cursos dentro da área de tecnologia e inovação.</p>
      </div>
      {{!-- SCROLLSPY --}}
    </div>
    <div class="row mb-5">
      <div class="col-3">
        <nav id="navbarVertical" class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Facultech <i class="fas fa-code"></i></a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item1">Item 1</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3" href="#item1-1"> sub Item 1.1</a>
              <a class="nav-link ml-3" href="#item1-2"> sub Item 1.2</a>
            </nav>
            <a class="nav-link my-1" href="#item2">Item 2</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3" href="#item2-1"> sub Item 2.1</a>
              <a class="nav-link ml-3" href="#item2-2"> sub Item 2.2</a>
            </nav>
            <a class="nav-link my-1" href="#item3">Item 3</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3" href="#item3-1"> sub Item 3.1</a>
              <a class="nav-link ml-3" href="#item3-2"> sub Item 3.2</a>
            </nav>
          </nav>
        </nav>
      </div>
      <div class="col-9">
        <div data-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite">

          <h4 id="item1">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed posuere purus. Praesent dapibus lectus
            justo, vel efficitur metus rutrum a. Praesent laoreet faucibus ex. Duis feugiat lacinia magna, ac rutrum
            turpis aliquet a. Aenean efficitur malesuada turpis. Sed consequat nec nisl id efficitur. Maecenas rhoncus
            finibus nibh vitae posuere. Donec vulputate libero sapien, at hendrerit enim pretium et.
          </p>

          <h5 id="item1-1">Vestibulum elementum</h5>
          <p>Vestibulum elementum elit quis justo hendrerit elementum. Nulla sollicitudin justo id tellus bibendum, id
            interdum nunc efficitur. Nam volutpat viverra enim, at mollis nibh ullamcorper sit amet. Pellentesque
            molestie purus ac quam faucibus pellentesque.</p>

          <h5 id="item1-2">Integer sodales</h5>
          <p>nteger sodales lacus consectetur elementum auctor. Duis aliquam nec quam vitae sodales. Duis malesuada
            varius elit non eleifend. Ut ultricies, enim vel vehicula porttitor, odio lacus vestibulum quam, sed
            bibendum neque lectus vestibulum est. </p>



          <h4 id="item2">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed posuere purus. Praesent dapibus lectus
            justo, vel efficitur metus rutrum a. Praesent laoreet faucibus ex. Duis feugiat lacinia magna, ac rutrum
            turpis aliquet a. Aenean efficitur malesuada turpis. Sed consequat nec nisl id efficitur. Maecenas rhoncus
            finibus nibh vitae posuere. Donec vulputate libero sapien, at hendrerit enim pretium et.
          </p>

          <h5 id="item2-1">Vestibulum elementum</h5>
          <p>Vestibulum elementum elit quis justo hendrerit elementum. Nulla sollicitudin justo id tellus bibendum, id
            interdum nunc efficitur. Nam volutpat viverra enim, at mollis nibh ullamcorper sit amet. Pellentesque
            molestie purus ac quam faucibus pellentesque.</p>

          <h5 id="item2-2">Integer sodales</h5>
          <p>nteger sodales lacus consectetur elementum auctor. Duis aliquam nec quam vitae sodales. Duis malesuada
            varius elit non eleifend. Ut ultricies, enim vel vehicula porttitor, odio lacus vestibulum quam, sed
            bibendum neque lectus vestibulum est. </p>



          <h4 id="item3">Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed posuere purus. Praesent dapibus lectus
            justo, vel efficitur metus rutrum a. Praesent laoreet faucibus ex. Duis feugiat lacinia magna, ac rutrum
            turpis aliquet a. Aenean efficitur malesuada turpis. Sed consequat nec nisl id efficitur. Maecenas rhoncus
            finibus nibh vitae posuere. Donec vulputate libero sapien, at hendrerit enim pretium et.
          </p>

          <h5 id="item3-1">Vestibulum elementum</h5>
          <p>Vestibulum elementum elit quis justo hendrerit elementum. Nulla sollicitudin justo id tellus bibendum, id
            interdum nunc efficitur. Nam volutpat viverra enim, at mollis nibh ullamcorper sit amet. Pellentesque
            molestie purus ac quam faucibus pellentesque.</p>

          <p>Proin pulvinar augue urna. Sed a dapibus magna. Integer faucibus ullamcorper arcu eget ornare. Nunc metus
            eros, ornare eget condimentum nec, fermentum nec massa. Phasellus malesuada ligula elit, non lacinia dui
            ultrices sit amet. Pellentesque congue leo hendrerit libero suscipit commodo in nec leo. Donec vehicula enim
            at neque faucibus maximus. Proin mollis quam et erat accumsan faucibus. Aliquam cursus nec odio quis
            condimentum. Vivamus pharetra mi id consequat malesuada.</p>
          <p>Nam lacus ipsum, rutrum et euismod ut, finibus auctor mauris. Quisque sem enim, consectetur a efficitur eu,
            vulputate sit amet turpis. Nullam mattis nulla ac augue congue, consectetur porttitor dui tincidunt. Etiam
            at eros et enim efficitur tincidunt. Phasellus sit amet lacus luctus, eleifend justo nec, dapibus lacus.
            Duis ut interdum enim. Nullam imperdiet, lectus eu pellentesque bibendum, augue leo molestie nibh, consequat
            venenatis purus augue nec metus. </p>

          <h5 id="item3-2">Integer sodales</h5>
          <p>nteger sodales lacus consectetur elementum auctor. Duis aliquam nec quam vitae sodales. Duis malesuada
            varius elit non eleifend. Ut ultricies, enim vel vehicula porttitor, odio lacus vestibulum quam, sed
            bibendum neque lectus vestibulum est. </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/tAYRXuu.jpg">
        <div class="card-body">
          <h4 class="card-title"> Proin pulvinar </h4>
          <h6 class="card-subtitle mb-2 text-muted">Integer faucibus ullamcorper arcu eget</h6>
          <p class="card- text"> Integer sodales lacus consectetur elementum auctor. Duis aliquam nec quam vitae
            sodales.
            Duis malesuada varius
            elit non eleifend. Ut ultricies, enim vel vehicula porttitor, odio lacus vestibulum quam, sed bibendum neque
            lectus vestibulum est.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">consectetur</li>
          <li class="list-group-item">odio lacus</li>
          <li class="list-group-item">litora torquent</li>
        </ul>

        <div class="card-body">
          <a href="#" class="card-link">Quisque</a>
          <a href="#" class="card-link">Integer</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/r3814DQ.jpg">
        <div class="card-body">
          <h4 class="card-title"> Proin pulvinar </h4>
          <h6 class="card-subtitle mb-2 text-muted">Integer faucibus ullamcorper arcu eget</h6>
          <p class="card- text"> Integer sodales lacus consectetur elementum auctor. Duis aliquam nec quam vitae
            sodales.
            Duis malesuada varius
            elit non eleifend. Ut ultricies, enim vel vehicula porttitor, odio lacus vestibulum quam, sed bibendum neque
            lectus vestibulum est.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">consectetur</li>
          <li class="list-group-item">odio lacus</li>
          <li class="list-group-item">litora torquent</li>
        </ul>

        <div class="card-body">
          <a href="#" class="card-link">Quisque</a>
          <a href="#" class="card-link">Integer</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/sltuRmG.jpg">
        <div class="card-body">
          <h4 class="card-title"> Proin pulvinar </h4>
          <h6 class="card-subtitle mb-2 text-muted">Integer faucibus ullamcorper arcu eget</h6>
          <p class="card- text"> Integer sodales lacus consectetur elementum auctor. Duis aliquam nec quam vitae
            sodales.
            Duis malesuada varius
            elit non eleifend. Ut ultricies, enim vel vehicula porttitor, odio lacus vestibulum quam, sed bibendum neque
            lectus vestibulum est.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">consectetur</li>
          <li class="list-group-item">odio lacus</li>
          <li class="list-group-item">litora torquent</li>
        </ul>

        <div class="card-body">
          <a href="#" class="card-link">Quisque</a>
          <a href="#" class="card-link">Integer</a>
        </div>
      </div>
    </div>
  </div>


  <style>
    .scrollspySite {
      position: relative;
      overflow: auto;
      height: 430px;
    }
  </style>
</body>