<div class="">
  <h1 class="display-4">Painel do Professor <small><i class="fas fa-chalkboard-teacher"></i></small></h1>
  <p class="lead"> Com permissão de Professor você pode gerenciar alguns recursos dos Alunos</p>
  <hr class="my-4">
  <h3>Gerenciar: </h3>
  <br>

  <a class="btn btn-outline-primary btn-lg btn-block my-3" href="/professor/view-notas" role="button">Lançamento de
    notas</a>
  <br>
  <a class="btn btn-outline-primary btn-lg btn-block my-3" href="#" role="button">Quadro de presença
    (EM TESTE)</a>
  <br>
  <a class="btn btn-outline-primary btn-lg btn-block my-3" href="/professor/postagens" role="button">Publicações do
    Mural</a>
  <br>
</div>