<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{materia.titulo}}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{materia.conteudo}}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{materia.data}}</small>
  </div>
</div>