<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{postagem.titulo}}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{postagem.conteudo}}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{postagem.data}}</small>
  </div>
</div>